<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Your description goes here" />
	<meta name="keywords" content="your,keywords,goes,here" />
	<meta name="author" content="Your Name" />
	<link rel="stylesheet" type="text/css" href="variant-stream.css" title="Variant Stream" media="screen,projection" />
	<title>Variant Stream v1.0</title>
</head>

<body>
<div id="wrap">

	<div id="header">
		<div id="topmenu">
			<p>
			<strong class="hide">Main menu:</strong>
			<a class="active" href="#">Home</a><span class="hide"> | </span>
			<a href="#">Products</a><span class="hide"> | </span>
			<a href="#">Locations</a><span class="hide"> | </span>
			<a href="#">Jobs</a><span class="hide"> | </span>
			<a href="#">Contact</a>
			</p>
		</div>
		
		<div id="title">
			<h1><a href="index.html">Variant Stream</a></h1>
			<p class="slogan">Clear like spring water...</p>
		</div>
	</div>
		
	<div id="sidebar">
		<ul class="sidemenu">
			<li><a class="active" href="#">Front page</a></li>  
			<li><a href="#">Company blog</a></li>
			<li><a href="#">Weekly news</a></li>
			<li><a href="#">Field reports</a>
				<ul>
				<li><a  href="#">Unit A</a></li>  
				<li><a href="#">Unit B</a></li>
				</ul></li>
			<li><a href="#">Reviews</a></li>
		</ul>
		
		<h2>Other links</h2>
		<p>For more templates and useful resources, I recommend these pages:</p>
		<ul>
			<li><a href="http://andreasviklund.com/learn/tutorial-building-your-first-website-using-a-free-website-template-part-1/">Template tutorial</a></li>
			<li><a href="http://andreasviklund.com/templates/">More free templates</a></li>  
			<li><a href="http://andreasviklund.com/wordpress-themes/">WordPress themes</a></li>
			<li><a href="http://www.svenskadomaner.se/order.asp?step=1&amp;ling=en&amp;ref=A">Domains and hosting</a></li>
		</ul>
	</div>
	
	<div id="content">
		<div id="feature">
			<img src="front.jpg" width="750" height="200" alt="Variant Stream" />
		</div>
	
		<div class="post">
			<div class="postintro">Dec 08<br />2010</div>
			<h2>The Variant Stream template</h2>
			<p>This is <a href="http://andreasviklund.com/templates/variant-stream/">Variant Stream</a>, a free website template by Andreas Viklund. It is written using standards-compliant XHTML 1.0 Strict and CSS 2.1, and it can serve as a starting point for building your own website. The code is simple and well-structured, and the template works in all major browsers - including those on mobile devices such as phones and tablet computers.</p>
			<p>For more free templates, web design tutorials and related material, visit <a href="http://andreasviklund.com/">andreasviklund.com</a>. If you have any questions, comments or ideas regarding this template, feel free to use the andreasviklund.com discussion forum to get in touch with the template designer and with other template users around the world.</p>
			<p class="postmeta">Author: <a href="#">Andreas</a>
		Tags: <a href="#">Tag 1</a>, <a href="#">Tag 2</a>, <a href="#">Tag 3</a><br />
			<a href="#">4 comments</a></p>
		</div>
	</div>

	<div id="footer">
	<p>Copyright &copy; 2010 <a href="index.html">Your Name</a><br />
	Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
	</div>

</div>
</body>
</html>
